.App {
  text-align: center;
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.DrumMachineDiv {
  box-shadow: 0px 0px 1em rgba(1, 97, 153, 0.596);
  border-radius: 0.5em;
  background-color: #7d95a5;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2.5em;
}

.SoundPadDiv {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas:
    "Q W E"
    "A S D"
    "Z X C";
  gap: 0.8em;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}