.BankControlTittle {
    font-family: monospace;
    font-size: 1.4em;
    font-weight: bold;
}

.BankControl {
    width: 50px;
    height: 20px;
    background-color: black;
    padding: 3px;
}

.BankControlIndicator {        
    background-color: var(--controlsPrimaryColor);
    width: 24px;
    height: 20px;
}